<div class="row">
<div class="col-md-12">
<div id="carousel-index-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @posters.each_with_index do |poster, index| %>
      <li data-target="#carousel-index-generic" data-slide-to="<%= index %>" <% if index == 0 %> class="active" <% end %>></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @posters.each_with_index do |poster, index| %>
      <div class="item <% if index == 0 %>active <% end %>">
        <img src="<%= poster.image.url(:xl) %>" alt="">
        <div class="carousel-caption">
          <%= poster.description %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-index-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-index-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    <dl class="">
      <dt>初一</dt>
      <dd>物理</dd>
      <dd>化学</dd>
      <dd>数学</dd>
    </dl>
    <dl>
      <dt>初二</dt>
      <dd>物理</dd>
      <dd>化学</dd>
      <dd>数学</dd>
    </dl>
  </div>
  <div class="col-md-8">
    <% @teachers.each_with_index do | teacher, index | %>
      <% if index % 4 == 0 %>
       <div class="row">
      <% end %>
        <div class="col-md-3">
          <%= image_tag teacher.avatar.url(:thumb) %>
          <%= teacher.name %>
        </div> 
      <% if (index % 4 == 3 || index == @teachers.size() - 1) %>
        </div>
        <br>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2">
    <ul class="list-unstyled">
      <li>我校引入名师李群</li>
      <li>我校引入名师李群</li>
      <li>我校引入名师李群</li>
      <li>我校引入名师李群</li>
      <li>我校引入名师李群</li>
    </ul>
  </div>
</div>
